apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: auth-service
  name: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: auth-service
    spec:
      containers:
      - image: auth-service:latest
        name: auth-service
        imagePullPolicy: Never
        resources: {}
        env:
          - name: DB_HOST_NAME
            value: "mongo-db"
status: {}
